body {
    margin: 0px;
    column-count: 2;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 160px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#sidebar button {
    border-width: 1px 1px 0px 0px;
    padding: 5px;
}

#sidebar button:last-child {
    border-bottom-width: 1px;
}

.subNavBar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tab-content {
    margin-left: 160px;
    padding: 10px;
    flex-flow: column nowrap;
    align-items: stretch;
}

.stretchedToMargin {
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
}