body {
    margin: 0px;
    column-count: 2;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 160px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#sidebar button {
    border-width: 1px 1px 0px 0px;
    padding: 5px;
}

#sidebar button:last-child {
    border-bottom-width: 1px;
}

#hill-alphaNumGame {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    width: 650px;
    aspect-ratio: 2;
}

.gameWindow {
    justify-content: space-between;
}

.gameDisplay {
    flex-grow: 0.4;
    align-content: center
}

.gameInput {
    flex-grow: 0.1;
}

.gameOptions {
    flex-grow: 0.2;
}

.subNavBar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.tab-content {
    margin-left: 160px;
    flex-flow: column nowrap;
    align-items: stretch;
}

.vertical-flex {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.stretchedToMargin {
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

.horizontallyCentered {
    margin-inline: auto;
    max-width: fit-content;
    display: block;
}