body {
    margin: 0px;
    column-count: 2;
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 160px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#sidebar button {
    border-width: 1px 1px 0px 0px;
    padding: 5px;
}

#sidebar button:last-child {
    border-bottom-width: 1px;
}

.tab-content {
    margin-left: 160px;
    padding: 10px;
}